In [1]:
%reload_ext autoreload
%autoreload 2

# Using the Database interface wit the SIFT dataset

## Goal
Create the DLMI through the Database (orchestrator) interface, insert 100k data

##### Author: Terezia Slaninakova, xslanin@fi.muni.cz
##### Date: 2.1.2023

In [2]:
import pickle
from dlmi.Database import Database
import numpy as np
import pandas as pd

In [6]:
from dlmi.Logger import logging, get_logger_config
logging.basicConfig(level=logging.WARNING, format=get_logger_config())
logging.debug('Initialized logger')

In [3]:
import h5py
import pandas as pd
# load the sift data
f = h5py.File('../data/sift-128-euclidean.hdf5', 'r')
data = list(f['train'])
data = pd.DataFrame(data)
data = data.sample(data.shape[0], random_state=2022)

In [5]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
672749,1.0,0.0,2.0,6.0,1.0,1.0,1.0,6.0,7.0,1.0,...,70.0,1.0,16.0,22.0,23.0,0.0,0.0,2.0,31.0,1.0
458750,26.0,77.0,6.0,7.0,8.0,0.0,1.0,4.0,9.0,80.0,...,87.0,81.0,95.0,7.0,0.0,0.0,0.0,0.0,1.0,88.0
457092,25.0,19.0,13.0,1.0,34.0,58.0,23.0,14.0,16.0,34.0,...,0.0,21.0,19.0,11.0,45.0,84.0,68.0,19.0,2.0,4.0
609764,7.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,58.0,...,0.0,37.0,0.0,0.0,18.0,37.0,0.0,0.0,0.0,0.0
120615,59.0,9.0,0.0,0.0,0.0,0.0,3.0,29.0,123.0,20.0,...,38.0,40.0,62.0,6.0,7.0,20.0,17.0,3.0,2.0,24.0

In [ ]:
# or use random numpy data
data = np.random.random((100_000, 128))
data = pd.DataFrame(data)

In [4]:
queries = pd.DataFrame(f['test']).sample(100, random_state=2022)

In [6]:
!cat ../config.yml

Data:
    distance_function: 'L2'
    dataset: 'SIFT'
    subset: 1_000_000
    seed: 2022
    queries_subset: 1_000

LMI:
    leaf_node_capacity_min: 100
    leaf_node_capacity_max: 200
    children_min: 5
    children_max: 100
    violating_nodes: 0

Experiment:
    stop_conditions:
    - 0.0005
    - 0.001
    - 0.003
    - 0.005
    - 0.01
    - 0.03
    - 0.05
    - 0.1
    - 0.2
    - 0.3
    stop_conditions_absolute:
    - 1
    - 3
    - 5
    - 10
    - 13
    - 15
    - 20
    - 23
    - 25
    - 30
    stop_conditions_time:
    - 0.0001
    - 0.0003
    - 0.0005
    - 0.001
    - 0.003
    - 0.005
    - 0.01
    - 0.03
    - 0.05
    - 0.1
    - 0.3
    - 0.5

### 1. Insert the first partition

In [8]:
data_part = data.iloc[:1_000]

In [10]:
info_df = pd.DataFrame([], columns=['op', 'time-taken', 'size', '#-objects'])

In [12]:
db = Database('../config.yml')
%time info_df = db.insert(data_part, info_df)

[2023-01-02 11:50:15,831][INFO ][dlmi.Database.Databa] [INSERT] [1000]
[2023-01-02 11:50:15,941][INFO ][dlmi.Database.Databa] OVERFLOW at (0,) | 1000
[2023-01-02 11:50:15,943][INFO ][dlmi.Database.Databa] [DEEPEN] [(0,)] [7]
[2023-01-02 11:51:03,471][INFO ][dlmi.Database.Databa] Total n. overflows: 2,                             n. allowed: 1                             overflows in current node ((0,)):                             2
[2023-01-02 11:51:03,474][INFO ][dlmi.Database.Databa] [RETRAIN] [(0,)] [8]

CPU times: user 2.83 s, sys: 810 ms, total: 3.64 s
Wall time: 48.4 s

In [13]:
data_part = data.iloc[1000:10_000]
%time info_df = db.insert(data_part, info_df)

[2023-01-02 11:51:04,287][INFO ][dlmi.Database.Databa] [INSERT] [9000]
[2023-01-02 11:51:04,845][INFO ][dlmi.Database.Databa] Total n. overflows: 8,                             n. allowed: 1                             overflows in current node ((0,)):                             8
[2023-01-02 11:51:04,848][INFO ][dlmi.Database.Databa] [RETRAIN] [(0,)] [66]
[2023-01-02 11:51:06,356][INFO ][dlmi.Database.Databa] Total n. overflows: 12,                             n. allowed: 1                             overflows in current node ((0,)):                             12
[2023-01-02 11:51:06,359][INFO ][dlmi.Database.Databa] [RETRAIN] [(0,)] [73]
[2023-01-02 11:51:07,860][INFO ][dlmi.Database.Databa] Total n. overflows: 9,                             n. allowed: 1                             overflows in current node ((0,)):                             9
[2023-01-02 11:51:07,862][INFO ][dlmi.Database.Databa] [RETRAIN] [(0,)] [78]
[2023-01-02 11:51:09,390][INFO ][dlmi.Database.Databa] Total n. overflows: 7,                             n. allowed: 1                             overflows in current node ((0,)):                             7
[2023-01-02 11:51:09,393][INFO ][dlmi.Database.Databa] [RETRAIN] [(0,)] [81]
[2023-01-02 11:51:10,908][INFO ][dlmi.Database.Databa] Total n. overflows: 4,                             n. allowed: 1                             overflows in current node ((0,)):                             4
[2023-01-02 11:51:10,911][INFO ][dlmi.Database.Databa] [RETRAIN] [(0,)] [83]
[2023-01-02 11:51:12,438][INFO ][dlmi.Database.Databa] Total n. overflows: 5,                             n. allowed: 1                             overflows in current node ((0,)):                             5
[2023-01-02 11:51:12,440][INFO ][dlmi.Database.Databa] [RETRAIN] [(0,)] [85]
[2023-01-02 11:51:13,969][INFO ][dlmi.Database.Databa] Reached max attempts (5) with RETRAIN
[2023-01-02 11:51:13,972][INFO ][dlmi.Database.Databa] [DEEPEN] [(0, 48)] [5]
[2023-01-02 11:51:14,436][INFO ][dlmi.Database.Databa] [DEEPEN] [(0, 49)] [5]
[2023-01-02 11:51:14,899][INFO ][dlmi.Database.Databa] [DEEPEN] [(0, 61)] [5]
[2023-01-02 11:51:15,364][INFO ][dlmi.Database.Databa] [DEEPEN] [(0, 82)] [5]

CPU times: user 10.9 s, sys: 119 ms, total: 11 s
Wall time: 12 s

In [14]:
# dataframe with insert information
info_df.head()

                    op  time-taken      size #-objects
0               INSERT    0.002838  1.035558      1000
1   DEEPEN-PART-(0,)-7    0.321392       NaN      1000
2  DEEPEN-TRAIN-(0,)-7   47.184151       NaN      1000
3   DEEPEN-REST-(0,)-7    0.000890       NaN      1000
4  RETRAIN-COLL-(0,)-8    0.001087       NaN      1000

#### 2. Searching with the inserted data load

In [16]:
from dlmi.search_utils import get_knn_perf, get_objective_knns, sequential_search

In [15]:
queries.head()

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
6487,70.0,0.0,0.0,0.0,0.0,0.0,0.0,55.0,125.0,8.0,...,73.0,0.0,0.0,12.0,22.0,0.0,0.0,8.0,49.0,2.0
8785,0.0,0.0,0.0,24.0,103.0,12.0,4.0,0.0,32.0,3.0,...,0.0,0.0,6.0,14.0,17.0,14.0,0.0,0.0,15.0,7.0
7390,33.0,3.0,0.0,1.0,4.0,0.0,0.0,0.0,135.0,33.0,...,135.0,24.0,0.0,0.0,0.0,0.0,0.0,103.0,73.0,0.0
7078,0.0,0.0,26.0,59.0,40.0,53.0,8.0,3.0,2.0,30.0,...,13.0,6.0,55.0,48.0,15.0,0.0,0.0,1.0,6.0,21.0
1230,1.0,0.0,0.0,1.0,0.0,0.0,1.0,4.0,14.0,2.0,...,44.0,23.0,55.0,24.0,45.0,12.0,7.0,4.0,6.0,16.0

In [22]:
results_knn, knn_distributions = get_knn_perf(
    db.lmi, data.iloc[:10_000], queries, stop_condition_leaf=5, k=100, metric='L2'
)

[2023-01-02 11:53:05,998][INFO ][get_knn_perf] K-NN perf for query=6487, time: 0.1053609848022461
[2023-01-02 11:53:06,086][INFO ][get_knn_perf] K-NN perf for query=8785, time: 0.08386826515197754
[2023-01-02 11:53:06,164][INFO ][get_knn_perf] K-NN perf for query=7390, time: 0.07467103004455566
[2023-01-02 11:53:06,307][INFO ][get_knn_perf] K-NN perf for query=7078, time: 0.1391584873199463
[2023-01-02 11:53:06,426][INFO ][get_knn_perf] K-NN perf for query=1230, time: 0.1154026985168457
[2023-01-02 11:53:06,527][INFO ][get_knn_perf] K-NN perf for query=3684, time: 0.09702682495117188
[2023-01-02 11:53:06,620][INFO ][get_knn_perf] K-NN perf for query=5263, time: 0.0895853042602539
[2023-01-02 11:53:06,712][INFO ][get_knn_perf] K-NN perf for query=3533, time: 0.08804750442504883
[2023-01-02 11:53:06,826][INFO ][get_knn_perf] K-NN perf for query=104, time: 0.11023259162902832
[2023-01-02 11:53:06,938][INFO ][get_knn_perf] K-NN perf for query=8080, time: 0.10790371894836426
[2023-01-02 11:53:07,018][INFO ][get_knn_perf] K-NN perf for query=281, time: 0.07621932029724121
[2023-01-02 11:53:07,083][INFO ][get_knn_perf] K-NN perf for query=4746, time: 0.06179189682006836
[2023-01-02 11:53:07,158][INFO ][get_knn_perf] K-NN perf for query=3369, time: 0.0705869197845459
[2023-01-02 11:53:07,265][INFO ][get_knn_perf] K-NN perf for query=6177, time: 0.10366487503051758
[2023-01-02 11:53:07,338][INFO ][get_knn_perf] K-NN perf for query=4207, time: 0.06911826133728027
[2023-01-02 11:53:07,434][INFO ][get_knn_perf] K-NN perf for query=6059, time: 0.09166193008422852
[2023-01-02 11:53:07,542][INFO ][get_knn_perf] K-NN perf for query=7343, time: 0.10466885566711426
[2023-01-02 11:53:07,651][INFO ][get_knn_perf] K-NN perf for query=5490, time: 0.10509252548217773
[2023-01-02 11:53:07,727][INFO ][get_knn_perf] K-NN perf for query=2998, time: 0.07192134857177734
[2023-01-02 11:53:07,812][INFO ][get_knn_perf] K-NN perf for query=3275, time: 0.08205509185791016
[2023-01-02 11:53:07,887][INFO ][get_knn_perf] K-NN perf for query=2376, time: 0.07055497169494629
[2023-01-02 11:53:07,983][INFO ][get_knn_perf] K-NN perf for query=6323, time: 0.09230470657348633
[2023-01-02 11:53:08,067][INFO ][get_knn_perf] K-NN perf for query=1110, time: 0.08081817626953125
[2023-01-02 11:53:08,179][INFO ][get_knn_perf] K-NN perf for query=4062, time: 0.10768771171569824
[2023-01-02 11:53:08,304][INFO ][get_knn_perf] K-NN perf for query=6558, time: 0.12163829803466797
[2023-01-02 11:53:08,390][INFO ][get_knn_perf] K-NN perf for query=1782, time: 0.08250045776367188
[2023-01-02 11:53:08,458][INFO ][get_knn_perf] K-NN perf for query=2134, time: 0.06330704689025879
[2023-01-02 11:53:08,553][INFO ][get_knn_perf] K-NN perf for query=1137, time: 0.0918121337890625
[2023-01-02 11:53:08,626][INFO ][get_knn_perf] K-NN perf for query=3249, time: 0.06923413276672363
[2023-01-02 11:53:08,725][INFO ][get_knn_perf] K-NN perf for query=7500, time: 0.09468770027160645
[2023-01-02 11:53:08,813][INFO ][get_knn_perf] K-NN perf for query=4479, time: 0.08455538749694824
[2023-01-02 11:53:08,867][INFO ][get_knn_perf] K-NN perf for query=661, time: 0.05037951469421387
[2023-01-02 11:53:08,944][INFO ][get_knn_perf] K-NN perf for query=1201, time: 0.07345175743103027
[2023-01-02 11:53:09,040][INFO ][get_knn_perf] K-NN perf for query=9724, time: 0.09156942367553711
[2023-01-02 11:53:09,108][INFO ][get_knn_perf] K-NN perf for query=6858, time: 0.06436038017272949
[2023-01-02 11:53:09,190][INFO ][get_knn_perf] K-NN perf for query=2901, time: 0.07828044891357422
[2023-01-02 11:53:09,265][INFO ][get_knn_perf] K-NN perf for query=853, time: 0.07113194465637207
[2023-01-02 11:53:09,342][INFO ][get_knn_perf] K-NN perf for query=8996, time: 0.07390713691711426
[2023-01-02 11:53:09,428][INFO ][get_knn_perf] K-NN perf for query=5979, time: 0.08207988739013672
[2023-01-02 11:53:09,504][INFO ][get_knn_perf] K-NN perf for query=1068, time: 0.0723259449005127
[2023-01-02 11:53:09,622][INFO ][get_knn_perf] K-NN perf for query=1986, time: 0.11442923545837402
[2023-01-02 11:53:09,718][INFO ][get_knn_perf] K-NN perf for query=1387, time: 0.09214448928833008
[2023-01-02 11:53:09,832][INFO ][get_knn_perf] K-NN perf for query=6990, time: 0.10936951637268066
[2023-01-02 11:53:09,905][INFO ][get_knn_perf] K-NN perf for query=1350, time: 0.06925678253173828
[2023-01-02 11:53:10,026][INFO ][get_knn_perf] K-NN perf for query=1419, time: 0.11777281761169434
[2023-01-02 11:53:10,114][INFO ][get_knn_perf] K-NN perf for query=7504, time: 0.08429265022277832
[2023-01-02 11:53:10,200][INFO ][get_knn_perf] K-NN perf for query=1869, time: 0.08207440376281738
[2023-01-02 11:53:10,263][INFO ][get_knn_perf] K-NN perf for query=6787, time: 0.05954694747924805
[2023-01-02 11:53:10,354][INFO ][get_knn_perf] K-NN perf for query=2530, time: 0.08685517311096191
[2023-01-02 11:53:10,452][INFO ][get_knn_perf] K-NN perf for query=1225, time: 0.09469103813171387
[2023-01-02 11:53:10,583][INFO ][get_knn_perf] K-NN perf for query=4486, time: 0.12753701210021973
[2023-01-02 11:53:10,675][INFO ][get_knn_perf] K-NN perf for query=2589, time: 0.08759570121765137
[2023-01-02 11:53:10,753][INFO ][get_knn_perf] K-NN perf for query=288, time: 0.07472848892211914
[2023-01-02 11:53:10,854][INFO ][get_knn_perf] K-NN perf for query=5969, time: 0.09661746025085449
[2023-01-02 11:53:10,930][INFO ][get_knn_perf] K-NN perf for query=5748, time: 0.07204413414001465
[2023-01-02 11:53:11,033][INFO ][get_knn_perf] K-NN perf for query=5561, time: 0.09983301162719727
[2023-01-02 11:53:11,148][INFO ][get_knn_perf] K-NN perf for query=3772, time: 0.11113214492797852
[2023-01-02 11:53:11,217][INFO ][get_knn_perf] K-NN perf for query=6121, time: 0.06472086906433105
[2023-01-02 11:53:11,342][INFO ][get_knn_perf] K-NN perf for query=8318, time: 0.12194609642028809
[2023-01-02 11:53:11,419][INFO ][get_knn_perf] K-NN perf for query=1705, time: 0.07270026206970215
[2023-01-02 11:53:11,528][INFO ][get_knn_perf] K-NN perf for query=6166, time: 0.10510420799255371
[2023-01-02 11:53:11,632][INFO ][get_knn_perf] K-NN perf for query=6481, time: 0.10061001777648926
[2023-01-02 11:53:11,738][INFO ][get_knn_perf] K-NN perf for query=142, time: 0.10201239585876465
[2023-01-02 11:53:11,814][INFO ][get_knn_perf] K-NN perf for query=4544, time: 0.07196307182312012
[2023-01-02 11:53:11,901][INFO ][get_knn_perf] K-NN perf for query=9627, time: 0.08334493637084961
[2023-01-02 11:53:11,958][INFO ][get_knn_perf] K-NN perf for query=3953, time: 0.0537114143371582
[2023-01-02 11:53:12,023][INFO ][get_knn_perf] K-NN perf for query=6824, time: 0.06125330924987793
[2023-01-02 11:53:12,119][INFO ][get_knn_perf] K-NN perf for query=4276, time: 0.09248828887939453
[2023-01-02 11:53:12,186][INFO ][get_knn_perf] K-NN perf for query=3568, time: 0.06279230117797852
[2023-01-02 11:53:12,275][INFO ][get_knn_perf] K-NN perf for query=2927, time: 0.08549046516418457
[2023-01-02 11:53:12,369][INFO ][get_knn_perf] K-NN perf for query=4894, time: 0.08969926834106445
[2023-01-02 11:53:12,455][INFO ][get_knn_perf] K-NN perf for query=5288, time: 0.08253002166748047
[2023-01-02 11:53:12,566][INFO ][get_knn_perf] K-NN perf for query=1357, time: 0.1071467399597168
[2023-01-02 11:53:12,650][INFO ][get_knn_perf] K-NN perf for query=4994, time: 0.0802156925201416
[2023-01-02 11:53:12,757][INFO ][get_knn_perf] K-NN perf for query=6854, time: 0.1032867431640625
[2023-01-02 11:53:12,860][INFO ][get_knn_perf] K-NN perf for query=9492, time: 0.09912753105163574
[2023-01-02 11:53:13,010][INFO ][get_knn_perf] K-NN perf for query=7736, time: 0.14661145210266113
[2023-01-02 11:53:13,062][INFO ][get_knn_perf] K-NN perf for query=5296, time: 0.04841184616088867
[2023-01-02 11:53:13,180][INFO ][get_knn_perf] K-NN perf for query=3837, time: 0.11458158493041992
[2023-01-02 11:53:13,260][INFO ][get_knn_perf] K-NN perf for query=6939, time: 0.07560610771179199
[2023-01-02 11:53:13,330][INFO ][get_knn_perf] K-NN perf for query=4360, time: 0.06676006317138672
[2023-01-02 11:53:13,421][INFO ][get_knn_perf] K-NN perf for query=4502, time: 0.08828425407409668
[2023-01-02 11:53:13,537][INFO ][get_knn_perf] K-NN perf for query=1091, time: 0.1120157241821289
[2023-01-02 11:53:13,703][INFO ][get_knn_perf] K-NN perf for query=7686, time: 0.16217398643493652
[2023-01-02 11:53:13,803][INFO ][get_knn_perf] K-NN perf for query=2030, time: 0.09596467018127441
[2023-01-02 11:53:13,906][INFO ][get_knn_perf] K-NN perf for query=571, time: 0.09598350524902344
[2023-01-02 11:53:14,033][INFO ][get_knn_perf] K-NN perf for query=2327, time: 0.12381196022033691
[2023-01-02 11:53:14,146][INFO ][get_knn_perf] K-NN perf for query=403, time: 0.10896778106689453
[2023-01-02 11:53:14,260][INFO ][get_knn_perf] K-NN perf for query=1751, time: 0.11037397384643555
[2023-01-02 11:53:14,406][INFO ][get_knn_perf] K-NN perf for query=1778, time: 0.14250969886779785
[2023-01-02 11:53:14,509][INFO ][get_knn_perf] K-NN perf for query=5013, time: 0.09853792190551758
[2023-01-02 11:53:14,600][INFO ][get_knn_perf] K-NN perf for query=3810, time: 0.08732438087463379
[2023-01-02 11:53:14,691][INFO ][get_knn_perf] K-NN perf for query=6482, time: 0.0871114730834961
[2023-01-02 11:53:14,758][INFO ][get_knn_perf] K-NN perf for query=4669, time: 0.06330275535583496
[2023-01-02 11:53:14,837][INFO ][get_knn_perf] K-NN perf for query=3960, time: 0.07552862167358398
[2023-01-02 11:53:14,997][INFO ][get_knn_perf] K-NN perf for query=8278, time: 0.15646052360534668
[2023-01-02 11:53:15,074][INFO ][get_knn_perf] K-NN perf for query=9452, time: 0.07271122932434082
[2023-01-02 11:53:15,155][INFO ][get_knn_perf] K-NN perf for query=7840, time: 0.07761907577514648
[2023-01-02 11:53:15,270][INFO ][get_knn_perf] K-NN perf for query=1659, time: 0.11082124710083008
[2023-01-02 11:53:15,379][INFO ][get_knn_perf] K-NN perf for query=9808, time: 0.10593199729919434
[2023-01-02 11:53:15,439][INFO ][root] [100-NN Hit] computed from 100 queries -- 67.31%

In [23]:
results_knn
# query, the leaf nodes that the answer was collected from, probabilities of those leaf nodes, ...

,query,query-predicted-pos,probs,n-objects,n-knns-found,time,time-seq-search,recall
0,6487,"[(0, 52), (0, 70), (0, 48, 4), (0, 22), (0, 48...","[0.97, 0.02, 0.0, 1.0, 0.0, 0.0]",434,53,0.001586,0.002703,0.53
1,8785,"[(0, 1), (0, 51), (0, 47), (0, 82, 1), (0, 9)]","[0.78, 0.19, 0.03, 0.0, 1.0, 0.0]",531,80,0.001596,0.002792,0.80
2,7390,"[(0, 35), (0, 6), (0, 60), (0, 37), (0, 26)]","[0.93, 0.05, 0.02, 0.0, 0.0]",606,74,0.000991,0.003014,0.74
3,7078,"[(0, 80), (0, 51), (0, 9), (0, 77), (0, 73)]","[0.93, 0.07, 0.0, 0.0, 0.0]",643,61,0.000978,0.003023,0.61
4,1230,"[(0, 1), (0, 82, 1), (0, 82, 4), (0, 79), (0, ...","[1.0, 0.0, 1.0, 0.0, 0.0, 0.0]",431,92,0.001571,0.002538,0.92
...,...,...,...,...,...,...,...,...
95,8278,"[(0, 75), (0, 61, 4), (0, 61, 3), (0, 61, 0), ...","[1.0, 0.0, 1.0, 0.0, 0.0, 0.0]",290,88,0.001637,0.002173,0.88
96,9452,"[(0, 30), (0, 17), (0, 65), (0, 60), (0, 5)]","[1.0, 0.0, 0.0, 0.0, 0.0]",458,42,0.000979,0.002621,0.42
97,7840,"[(0, 28), (0, 83), (0, 13), (0, 56), (0, 22)]","[0.98, 0.01, 0.01, 0.0, 0.0]",425,51,0.001113,0.002451,0.51
98,1659,"[(0, 54), (0, 72), (0, 17), (0, 57), (0, 65)]","[0.59, 0.4, 0.0, 0.0, 0.0]",386,48,0.000982,0.002417,0.48
99,9808,"[(0, 58), (0, 80), (0, 78), (0, 9), (0, 79)]","[0.66, 0.18, 0.09, 0.05, 0.02]",671,46,0.000992,0.003150,0.46

#### 3. Individual search

In [47]:
query = queries.iloc[0]
pred_leaf_nodes, prob_distr, n_objects, time_taken = db.lmi.search(
    query, stop_condition_leaf=20
)

In [48]:
pred_leaf_nodes, prob_distr, n_objects, time_taken

([(0, 52)], [0.9714974164962769], 95, 0.001135110855102539)

In [49]:
object_ids = []
for pred_leaf_node in pred_leaf_nodes:
    object_ids.extend(db.lmi.nodes[pred_leaf_node].object_ids)

In [50]:
found_k_nns = data.loc[object_ids].index[
    sequential_search(query, data.loc[object_ids], 100, metric='L2')
]

In [51]:
len(found_k_nns), found_k_nns[:4]

(95, Int64Index([458834, 876444, 451403, 512865], dtype='int64'))

In [52]:
nns = get_objective_knns(query.values, data, metric='L2')

##### No true NNs were found. Not surprising, we only inserted 10k objects out of 1M

In [53]:
found_nns = set(list(found_k_nns)).intersection(set(data.index[nns[0]][:100]))
found_nns

set()

In [ ]:
data_part = data.iloc[10_000:100_000]
%time info_df = db.insert(data_part, info_df)

In [57]:
db.lmi.dump_structure()

                 type children
key
(0,)        InnerNode      100
(0, 0)      InnerNode       11
(0, 0, 0)    LeafNode      168
(0, 0, 1)    LeafNode      124
(0, 0, 2)    LeafNode      143
...               ...      ...
(0, 82, 3)   LeafNode      156
(0, 82, 4)   LeafNode      123
(0, 82, 5)   LeafNode      162
(0, 82, 6)   LeafNode      123
(0, 82, 7)   LeafNode      148

[913 rows x 2 columns]

In [58]:
query = queries.iloc[0]
pred_leaf_nodes, prob_distr, n_objects, time_taken = db.lmi.search(
    query, stop_condition_leaf=20
)

In [59]:
object_ids = []
for pred_leaf_node in pred_leaf_nodes:
    object_ids.extend(db.lmi.nodes[pred_leaf_node].object_ids)

In [60]:
found_k_nns = data.loc[object_ids].index[
    sequential_search(query, data.loc[object_ids], 100, metric='L2')
]

##### After inseting 10% of the dataset, some kNNs were found!

In [61]:
found_nns = set(list(found_k_nns)).intersection(set(data.index[nns[0]][:100]))
found_nns

{48355, 80017, 242591, 293605, 306966, 317668, 547080, 654078, 661804}

In [63]:
db.lmi.get_n_of_objects()

100000

In [64]:
db.lmi.inconsistencies_stats()

,InnerNode-overflow,InnerNode-underflow,LeafNode-overflow,LeafNode-underflow
0,0,0,1,213